/* Your CSS code goes here */

html { overflow: -moz-scrollbars-vertical; }

body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	background: #EFF4F8;
	font-family: Gill Sans, sans-serif;
	font-size: 30px;
	color: #3C3D3F;
    text-align: center;
}

#logo{
	text-align: left;
	padding: 0;
}

.name{
	font-size: 15px;
	display: block;
}

.interest{
	white-space: normal;


}


#interests_content{
	overflow-x: scroll;
	overflow-y: hidden !important;
	padding-bottom: 10px;
}

table {
	 table-layout: fixed;
}

td {
	font-size: 15px;
	padding-left: 15px;
	width: 60px;
}

#interests_title {
	padding-bottom: 10px;
}

.mate {
	display: inline-block;

}


#timeline_content {
	margin-top: -30px;
	overflow-y: scroll;
	height: 100%;
}

#circlemates, #interests, #events {
	background-color: #FDFDFD;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: -100px;
	top: -10px;
	border-style:solid;
	border-width:1px;
	border-color: #E6E6E6;
	margin-bottom: 20px;
	margin-top: 0px;
}

#circlemates {
	text-align: center;
}


#events {
	clear: both;
}

#timeline {
	position: fixed;
	width: 20%;
	top: 0px;
	right : 30px;
	float: right;
	background-color: #FDFDFD;
	border-style:solid;
	border-width:1px;
	border-color: #E6E6E6;
	height: 100%;
}

#timeline_title {
	position: relative;
	width: 100%;
}

.timeline_event {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


hr {
	margin: 0px;
	border:0px;
	height: 1px;
	background: #E6E6E6;
}


