/* Your CSS code goes here */

html { overflow: -moz-scrollbars-vertical; }

body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: center;
}


